.nav {
    display: inline;
    overflow: hidden;
    font-family: Arial;
}

.nav a {
    float: left;
    font-size: 16px;
    color: #000;
    background-color: lightblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover, .drop:hover .dropbtn {
    background-color: blue;
}