@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/*index page*/
html {
    background-color: rgb(3,83,136);
    color: white;
}
.panel {
    height:100%;
}
.panel h1{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 500%;
}
.panel h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 200%;
}
.seahorse_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-bottom: 30px;
}
.index-grid-panel {
    display: grid;
    grid-auto-rows: 1;
}
.index-grid-panel a {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(118, 193, 243);
    color:rgb(3,83,136);
    border: none;
    /*padding: 10px;*/
    padding: 30px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.index-grid-panel a:hover {
    background:white;
}
a.off:hover {
    background:red;
    color: white;
}

/*Create Survey Page*/
form.create-survey-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-35%);
}

input.radio {
    height: 25px;
    width: 25px;
}

p.create {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}

/*sign in page*/
.signin-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: white;
    padding: 20px;
}

/*password reset page*/
.pass-reset {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: white;
    padding: 20px;
}

form h2 {
    color: rgb(3,83,136);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 200%;
}

form input {
    display: block;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, .3);
    outline: none;
    border: 1px solid rgba(1, 1, 1, .5);
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

form button {
    width: 332px;
    height: 50px;
    font-size: 16px;
    background-color: rgb(3,83,136);
    color: white;
    border: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

form button:hover{
    background-color: rgb(118, 193, 243);
}

form a{
    color: rgb(3,83,136);;
}

/*sign up page*/
.signup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: white;
    padding: 20px;
}

/* profile page */
.profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #9dc3ee; 
    padding: 20px;
}

.find-survey-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: white;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    color: rgb(3,83,136);
}

/* create survey */
.create-survey-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #9dc3ee; 
    padding: 20px;
}

/* create questions */
.question-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #9dc3ee; 
    padding: 20px;
}

/* take survey */
.take-survey {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #9dc3ee; 
    padding: 20px;
}

/* submit survey */
.submit-survey {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #9dc3ee; 
    padding: 20px;
}

/* survey directory */
.survey-directory {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #9dc3ee; 
    padding: 20px;
}
